<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" style="color:#FFFFFF"></ion-icon>
    </button>
    <ion-title>R2 Strategy Randomizer</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Click Buttons To Randomize</h3>

  <button mat-raised-button (click)="PickMyClass()">Pick My Class</button>
  <mat-chip-list>
      <mat-chip *ngIf="this.randomizedClass" color>
          <i id={{this.randomizedClass.Name}} [class]="this.randomizedClass.Icon"></i>   {{this.randomizedClass.Name}}
      </mat-chip>
  </mat-chip-list>
  <br/>
  <button mat-raised-button (click)="PickMyDrop()">Pick My Drop Location</button>
  <mat-chip-list>
      <mat-chip *ngIf="this.randomizedLocation" color="primary">
           {{this.randomizedLocation.Name}}
      </mat-chip>
  </mat-chip-list>
</ion-content>
